.footer {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 2rem;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer-links p, .footer-socials a {
  margin: 0.4rem 0;
  color: rgb(0, 0, 0);
}

.footer-socials a {
  margin: 0 0.5rem;
  font-size: 1.4rem;
  transition: color 0.3s;
}

.footer-socials a:hover {
  color: #a78bfa;
}

.footer-copy {
  font-size: 0.9rem;
  color: #bbb;
}
